{% trans_default_domain 'FOSUserBundle' %}

<h2>Demande d'adhésion à l'assiciation</h2>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form.newsletter) }}
    {{ form_errors(form.newsletter) }}
    {{ form_label(form.newsletter) }}

    {{ form_rest(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}